#header{
    background:#F1F1F1;
    height: 30px;
    width: 100%;
    overflow: hidden;
}
#header .header-left{
    float: left;
    margin: 0 0 0 70px;
    font-size: 13px;
    color: #666;
    line-height: 30px;
    width: 110px;
    padding-left: 10px;
}
#header .header-left li{
    float: left;
}
#header .header-left .icon{
    font: 400 15px/15px consolas;
    height: 7px;
    overflow: hidden;
    position: relative;
    top: 12px;
    left: 10px;
    -webkit-transition: -webkit-transform .1s ease-in 0s;
    color: #6a6a6a;
    -moz-transition: -moz-transform .1s ease-in 0s;
}
#header .header-left:hover .icon{
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}
#header .header-left:hover{
    background-color: white;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
#header .header-right{
    float:right;
    margin-bottom: 0;
    font-size: 13px;
    color: #666;
    line-height: 30px;
    margin-right: 70px;
}
#header .header-right li{
    float: left;
    padding:0 10px;
    position: relative;
}
#header .header-right .separator{
    width:1px;
    height:12px;
    margin-top:9px;
    background:#ddd;
    padding:0;
}
#header .header-right .login .red{
    color: red;
}
#header .header-right .website-navigation{
    width: 97px;
    font-size: 13px;
    color: #999;
}
#header .header-right .website-navigation .icon2{
    display: inline-block;
    font: 400 15px/15px consolas;
    height: 7px;
    overflow: hidden;
    margin:12px 0 0 10px;
    -webkit-transition: -webkit-transform .1s ease-in 0s;
    -moz-transition: -moz-transform .1s ease-in 0s;
}
#header .header-right .website-navigation:hover .icon2{
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}
#header .header-right .website-navigation:hover{
    background-color: white;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.clear{
    clear: both;
}

/*顶部导航*/
.headr{
    width: 100%;
    height: 107px;
}
.heard-con{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 107px;

}
.headr-nav{
    float: left;
    position: absolute;
    width: 710px;
    height: 107px;
    left: 18%;

}
.headr-nav li{
    float: left;
    width: 90px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 20px;
    font-size: 16px;
    margin-top: 25px;
}
.headr-nav li a{
    color: #222222;
}
.sptopfoot {
    clear: both;
    background:#ffffff;
    height: 2px;
    position: relative;
}
.spbottom {
    background:#4AB344;
    height: 2px;
    width:90px;
    position: absolute;
    top: 0;
    left: 20px;
    overflow: hidden;
    transition: all 1s;
}
.headr-right{
    position: relative;
    float: right;
    width: 154px;
    height:42px;
    margin-top: 30px;
    text-align: center;
    line-height: 42px;
    overflow: hidden;
    border: 1px solid #E6E6E6;

}
.hr-car{
    position: absolute;
    width: 300px;
    height: 140px;
    right:-1px;
    line-height: 140px;
    background-color: white;
    color: #c6c6c6;
    border: 1px solid #E6E6E6;
}
/*顶部导航结束*/

/*********个人消息*********/
.personal{ margin:20px auto 0;}
.personal-left{ width:216px;border:1px solid #DEDEDE;}
.personal-l-tit{ height:45px; background:#63A61D;}
.personal-l-tit h3{ font-weight:normal; font-size:16px; color:#fff; margin-left:15px; line-height:45px;}
.personal-left ul{ padding:0 5px;}
.personal-left li{ height:46px; line-height:46px; border-bottom:1px solid #DEDEDE;}
.personal-left li a{ display:block; padding-left:50px; font-size:14px; color:#1E1E1E;}
.personal-left .current-li a{color:#63A61D;}
.personal-left li:hover a{color:#63A61D;}
.personal-left li a span{ font-family:"宋体"; float:right; margin-right:15px;}
.personal-left .per-li1{ background:url(../images/public/pers-l-tu1.gif) no-repeat 15px center;}
.personal-left .per-li2{ background:url(../images/public/pers-l-tu2.gif) no-repeat 15px center;}
.personal-left .per-li3{ background:url(../images/public/pers-l-tu3.gif) no-repeat 15px center;}
.personal-left .per-li4{ background:url(../images/public/pers-l-tu4.gif) no-repeat 15px center;}
.personal-left .per-li5{ background:url(../images/public/pers-l-tu5.gif) no-repeat 15px center;}
.personal-left .per-li6{ background:url(../images/public/pers-l-tu6.gif) no-repeat 15px center;}
.personal-left .per-li7{ background:url(../images/public/pers-l-tu7.gif) no-repeat 15px center;}
.personal-left .per-li8{ background:url(../images/public/pers-l-tu8.gif) no-repeat 15px center;}
.personal-left .per-li9{ background:url(../images/public/pers-l-tu9.gif) no-repeat 15px center;}
.personal-left .per-li10{ background:url(../images/public/pers-l-tu10.gif) no-repeat 15px center; border-bottom:0;}

.personal-r{ width:963px;}
.personal-right{border:1px solid #DEDEDE; padding-bottom:15px;}
.personal-r-tit{height:44px; border-bottom:1px solid #dedede; background:#F7F7F7; }
.personal-r-tit h3{ line-height:44px; font-weight:normal; font-size:14px; color:#000; margin-left:15px;}
.theme{ height:36px; border-top:1px solid #85A3C1; border-bottom:1px solid #85A3C1;}
.theme .th-p1{ display:inline-block; width:81px; height:36px; line-height:36px; border-right:1px solid #85A3C1;}
.theme .th-p1 input{ margin-left:25px;}
.theme .th-p1 span{ font-size:14px; color:#646464; position:relative; top:-2px; left:3px;}
.theme .th-p2{ width:39px; height:36px;border-right:1px solid #85A3C1;}
.theme .th-p2 img{ margin:14px 0 0 12px;}
.theme .th-p3{ width:704px; height:36px; line-height:36px; margin-left:10px; font-size:14px; color:#646464; border-right:1px solid #85A3C1;}
.theme .th-p4{ font-size:14px; line-height:36px; color:#646464; margin-left:15px;}
.per-info{ margin-top:20px;}
.per-info .p-top{ font-size:14px; color:#6585A4; padding-left:10px; border-bottom:1px solid #85A3C1;}
.per-info li{ height:46px; line-height:46px; border-bottom:1px solid #D9D9D9;}
.per-info li input{ float:left; width:90px; height:46px; margin-left:-9px;}
.per-info li p{font-size:14px; color:#2C2C2C;}
.per-info li .p-tu{ width:40px;}
.per-info li .p-tu img{margin:18px 0 0 12px;}
.per-info li .p-font{ margin-left:10px; width:705px; height:46px; overflow:hidden;font-size: 14px;color: #2C2C2C;}
.per-info li .p-font:hover{ color:#F09E0B;}
.per-info li .p-font1{ color:#646464;}
.per-del{ padding:5px 10px; border:1px solid #CFCFCF; background:#e8e8e8; border-radius:5px; font-size:13px; color:#2C2C2C; cursor:pointer; margin:15px 0 0 10px;}


/*个人中心(消息详情)*/
.pcm-con .pcm-top{ text-align:center;}
.pcm-con .pcm-top h2{ font-weight:normal; font-size:20px; color:#303030; line-height:36px; margin-top:20px;}
.pcm-con .pcm-top p{ font-size:14px; color:#303030;}
.pcm-con .pcm-top .time{ margin-bottom:25px;}
.pcm-con .pcm-info{ margin:0 25px;}
.pcm-con .pcm-info img{ margin:20px auto;}
.pcm-con .pcm-info p{ font-size:14px; color:#303030; text-indent:2em; line-height:28px;}
.pcm-con .pcm-info strong{ font-size:16px; color:#303030;}


/*个人资料*/
.data-con{ margin:20px;}
.data-con .dt1{ margin-bottom:10px;}
.data-con .dt1 p{ color:#000; font-size:14px; width:80px; text-align:right; margin-right:15px; display:inline-block;}
.data-con .dt1 .dt-p{ line-height:46px;float:left;}
.data-con .dt1 .f-l{float:left;}
.data-con .dt1 .touxiang{}
.data-con .dt1 .touxiang .tu{ width:80px; height:80px; background:#E6E6E6; padding:3px; margin-right:15px; position:relative;}
.data-con .dt1 .touxiang .tu img{ width:100%; height:100%;}
.data-con .dt1 .touxiang .tu .img1{ position:absolute; top:0; left:0; width:157px; height:100%; border:0; padding:0; cursor:pointer; opacity:0;}
.data-con .dt1 .touxiang .sc{ margin-top:64px; font-size:14px; color:#63A61D;}
.data-con .dt1 input{ float:left; width:319px; height:44px; border:1px solid #D9D9D9; font-size:14px; color:#000000; padding:0 10px;}
.data-con .dt2 input{ width:35px;}
.data-con .dt2 span{ float:left; line-height:44px; margin-right:10px;}
.data-con .dt3 input{ width:186px; margin-right:10px;}
.data-con .dt3 button{ width:123px; height:46px; background:#63A61D; font-size:12px; color:#fff; border:none; cursor:pointer; float:left;}
.data-con .dt4 input{ width:231px; margin-right:10px;}
.data-con .dt4 button{ width:77px; height:46px; background:#63A61D; font-size:12px; color:#fff; border:none; cursor:pointer; float:left;}
.data-con .btn-pst{ width:340px; height:44px; background:#63A61D; font-size:16px; color:#fff; border:none; cursor:pointer; margin:31px 0 0 95px;}
/*上传头像弹窗*/
.tanchuang{ display:none; width:100%; height:100%;position:relative; position:absolute; top:0; left:0;}
.t-c-bg{ width:100%; height:100%; position:absolute; top:0; left:0; background:#999;opacity:0.5;}
.t-c-con{ width:669px; padding-bottom:41px;background:#fff; position:absolute; top:0; left:50%; margin:256px 0 0 -335px;}
.t-c-con .tc-tit{ height:42px; background:#F2F2F2;}
.t-c-con .tc-tit h3{ float:left; font-weight:normal; line-height:42px; font-size:14px; color:#000; padding-left:17px;}
.t-c-con .tc-tit a{ float:right; display:inline-block; width:19px; height:19px; margin:12px 15px 0 0;}
.t-c-con .tc-con img{ margin:24px auto 39px;}
.t-c-con .tc-con button{ display:block;width:340px; height:44px; background:#F09E0B; font-size:16px; color:#fff; border:none; cursor:pointer; margin:0 auto;}
