#header{
    background:#F1F1F1;
    height: 30px;
    width: 100%;
    overflow: hidden;
}
#header .header-left{
    float: left;
    margin: 0 0 0 70px;
    font-size: 13px;
    color: #666;
    line-height: 30px;
    width: 110px;
    padding-left: 10px;
}
#header .header-left li{
    float: left;
}
#header .header-left .icon{
    font: 400 15px/15px consolas;
    height: 7px;
    overflow: hidden;
    position: relative;
    top: 12px;
    left: 10px;
    -webkit-transition: -webkit-transform .1s ease-in 0s;
    color: #6a6a6a;
    -moz-transition: -moz-transform .1s ease-in 0s;
}
#header .header-left:hover .icon{
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}
#header .header-left:hover{
    background-color: white;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
#header .header-right{
    float:right;
    margin-bottom: 0;
    font-size: 13px;
    color: #666;
    line-height: 30px;
    margin-right: 70px;
}
#header .header-right li{
    float: left;
    padding:0 10px;
    position: relative;
}
#header .header-right .separator{
    width:1px;
    height:12px;
    margin-top:9px;
    background:#ddd;
    padding:0;
}
#header .header-right .login .red{
    color: red;
}
#header .header-right .website-navigation{
    width: 97px;
    font-size: 13px;
    color: #999;
}
#header .header-right .website-navigation .icon2{
    display: inline-block;
    font: 400 15px/15px consolas;
    height: 7px;
    overflow: hidden;
    margin:12px 0 0 10px;
    -webkit-transition: -webkit-transform .1s ease-in 0s;
    -moz-transition: -moz-transform .1s ease-in 0s;
}
#header .header-right .website-navigation:hover .icon2{
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}
#header .header-right .website-navigation:hover{
    background-color: white;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.clear{
    clear: both;
}

/*顶部导航*/
.headr{
    width: 100%;
    height: 107px;
}
.heard-con{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 107px;

}
.headr-nav{
    float: left;
    position: absolute;
    width: 710px;
    height: 107px;
    left: 18%;

}
.headr-nav li{
    float: left;
    width: 90px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 20px;
    font-size: 16px;
    margin-top: 25px;
}
.headr-nav li a{
    color: #222222;
}
.sptopfoot {
    clear: both;
    background:#ffffff;
    height: 2px;
    position: relative;
}
.spbottom {
    background:#4AB344;
    height: 2px;
    width:90px;
    position: absolute;
    top: 0;
    left: 20px;
    overflow: hidden;
    transition: all 1s;
}
.headr-right{
    position: relative;
    float: right;
    width: 154px;
    height:42px;
    margin-top: 30px;
    text-align: center;
    line-height: 42px;
    overflow: hidden;
    border: 1px solid #E6E6E6;

}
.hr-car{
    position: absolute;
    width: 300px;
    /*height: 140px;*/
    right:-1px;
    /*line-height: 140px;*/
    background-color: white;
    color: #c6c6c6;
    border: 1px solid #E6E6E6;
}
/*顶部导航结束*/


.personal{ margin:20px auto 0;}
.personal-left{ width:216px;border:1px solid #DEDEDE;}
.personal-l-tit{ height:45px; background:#63A61D;}
.personal-l-tit h3{ font-weight:normal; font-size:16px; color:#fff; margin-left:15px; line-height:45px;}
.personal-left ul{ padding:0 5px;}
.personal-left li{ height:46px; line-height:46px; border-bottom:1px solid #DEDEDE;}
.personal-left li a{ display:block; padding-left:50px; font-size:14px; color:#1E1E1E;}
.personal-left .current-li a{color:#63A61D;}
.personal-left li:hover a{color:#63A61D;}
.personal-left li a span{ font-family:"宋体"; float:right; margin-right:15px;}
.personal-left .per-li1{ background:url(../images/public/pers-l-tu1.gif) no-repeat 15px center;}
.personal-left .per-li2{ background:url(../images/public/pers-l-tu2.gif) no-repeat 15px center;}
.personal-left .per-li3{ background:url(../images/public/pers-l-tu3.gif) no-repeat 15px center;}
.personal-left .per-li4{ background:url(../images/public/pers-l-tu4.gif) no-repeat 15px center;}
.personal-left .per-li5{ background:url(../images/public/pers-l-tu5.gif) no-repeat 15px center;}
.personal-left .per-li6{ background:url(../images/public/pers-l-tu6.gif) no-repeat 15px center;}
.personal-left .per-li7{ background:url(../images/public/pers-l-tu7.gif) no-repeat 15px center;}
.personal-left .per-li8{ background:url(../images/public/pers-l-tu8.gif) no-repeat 15px center;}
.personal-left .per-li9{ background:url(../images/public/pers-l-tu9.gif) no-repeat 15px center;}
.personal-left .per-li10{ background:url(../images/public/pers-l-tu10.gif) no-repeat 15px center; border-bottom:0;}



.management{ width:963px;}
.management .tanchuang-con{ width:961px; background:#fff;border:1px solid #dedede;}
.management .tanchuang-con .tc-title{ height:42px; background:#F2F2F2; border-bottom:1px solid #dedede; margin-bottom:5px;}
.management .tanchuang-con .tc-title h3{line-height:42px; font-weight:normal; font-size:14px; color:#000; margin-left:18px;}

/*购物车*/
.cart-content{ margin-top:20px;}
.cart-tit-nav{ border-bottom:2px solid #DBDBDB;}
.cart-tit-nav li{ float:left; padding:0 30px; line-height:36px; cursor:pointer;}
.cart-tit-nav .current{ border-bottom:2px solid #F34737; margin-bottom:-2px;}
.cart-tit-nav .current a{ color:#F34737;}
.cart-tit-nav li:hover{ border-bottom:2px solid #F34737; margin-bottom:-2px;}
.cart-tit-nav li:hover a{ color:#F34737;}
.cart-tit-nav li a{ display:block; font-size:16px; color:#3B3B3B;}
.cart-con-tit{ padding-left:13px; margin:20px 0}
.cart-con-tit p{ display:inline-block; font-size:13px; color:#3B3B3B;}
.cart-con-tit .p1{ width:144px;}
.cart-con-tit .p1 input{position:relative; top:2px; margin-right:10px;}
.cart-con-tit .p2{ width:302px;}
.cart-con-tit .p3{ width:163px;}
.cart-con-tit .p4{ width:140px;}
.cart-con-tit .p5{ width:149px;}
.cart-con-tit .p6{ width:193px;}
.cart-con-tit .p7{}
.cart-con-info{ width:1200px;}
.cart-con-info .info-top{margin: 20px 0px 5px;}
.cart-con-info .info-top input{ position:relative; top:1px; margin:0 10px 0 13px;}
.cart-con-info .info-top span{ color:#3B3B3B; font-size:13px;}
.cart-con-info .info-mid{ border:1px solid #E0E0E0; padding:10px 11px;}
.cart-con-info .info-mid .mid-ipt{ height:82px; margin-right:16px;}
.cart-con-info .info-mid .mid-tu{ border:1px solid #eee; margin-right:18px;}
.cart-con-info .info-mid .mid-font{ margin-right:60px;}
.cart-con-info .info-mid .mid-font a{ display:block; font-size:14px; color:#000;}
.cart-con-info .info-mid .mid-font a:hover{ color:#63A61D;}
.cart-con-info .info-mid .mid-font span{ display:inline-block; background:#F34737; padding:0 5px; margin-top:5px; font-size:13px; color:#fff;}
.cart-con-info .info-mid .mid-guige{width:67px; height:71px;padding:5px 15px; margin-right:60px; border:1px solid #E0E0E0; position:relative;}
.cart-con-info .info-mid .mid-guige p{ font-size:13px; color:#3B3B3B;}
.cart-con-info .info-mid .mid-guige .xg{ display:none;}
.cart-con-info .info-mid .mid-guige2{border-color:red;}
.cart-con-info .info-mid .mid-guige2 .xg{ display:inline-block; font-size:13px; color:red;}
/*规格弹窗*/
.mid-guige .guige-xiugai{ display:none; width:421px;border:1px solid #e9e9e9; position:absolute; top:50px; left:15px; background:#fff; z-index:5;}
.xg-left{ width:236px; padding:12px 0 10px 15px; border-right:1px solid #e9e9e9;}
.xg-left dl{ margin-bottom:10px;}
.xg-left dt{ float:left; font-size:14px; color:#C0C0C0; margin-right:20px;}
.xg-left dd{ float:left; width:165px;}
.xg-left dd a{ display:inline-block; width:38px; height:23px; line-height:23px; text-align:center; margin:0 14px 5px 0; font-size:14px; color:#656565; border:1px solid #A4A4A4;}
.xg-left dd .current{ color:#F34737; border-color:#F34737;}
.xg-left .qd{ display:inline-block; width:63px; height:31px; line-height:31px; text-align:center; font-size:14px; color:#fff; background:#F34737;}
.xg-left .qx{ display:inline-block; width:63px; height:31px; line-height:31px; text-align:center;  font-size:14px; color:#A3A3A3;}
.xg-right{ width:154px;padding:10px 0 10px 15px; border-left:1px solid #e9e9e9; margin-left:-1px;}

.cart-con-info .info-mid .mid-sl{ margin:10px 61px 0 0;}
.cart-con-info .info-mid .mid-sl a{ display:inline-block; width:26px; height:32px; line-height:32px; text-align:center; border:1px solid #E9E9E9; font-size:20px; color:#929292; float:left;}
.cart-con-info .info-mid .mid-sl a:hover{ color:#000;}
.cart-con-info .info-mid .mid-sl input{ width:33px; height:32px; font-size:16px; colborder:1px solid #E9E9E9; padding:0 10px; margin:0 5px;border:1px solid #E9E9E9; text-align:center; float:left;}
.cart-con-info .info-mid .mid-dj{ width:130px; margin:10px 21px 0 0; font-size:13px; color:#3B3B3B;}
.cart-con-info .info-mid .mid-je{ width:130px; margin:10px 55px 0 0; font-size:13px; color:#E90000;}
.cart-con-info .info-mid .mid-chaozuo{ margin-top:10px;}
.cart-con-info .info-mid .mid-chaozuo a{ display:block; font-size:13px; color:#000;}
.cart-con-footer{ height:44px; line-height:44px; background:#F7F7F7; margin-top:15px;}
.cart-con-footer .quanxuan input{ position:relative; top:1px; margin:0 8px 0 5px;}
.cart-con-footer .quanxuan span{ display:inline-block; font-size:14px; color:#000;}
.cart-con-footer .quanxuan a{ display:inline-block; font-size:14px; color:#000; margin-left:20px;}
.cart-con-footer .quanxuan p{ display:inline-block; font-size:14px; color:#A5A5A5;}
.cart-con-footer .jiesuan{}
.cart-con-footer .jiesuan .jshj{ margin-right:15px;}
.jiesuan .jshj p{ display:inline-block; font-size:12px; color:#3C3C3C;}
.jiesuan .jshj .jshj-p2{ font-size:22px;}
.cart-con-footer .jiesuan .js-a1{ display:inline-block; line-height:44px; color:#fff; font-size:20px; background:#63A61D; padding:0 15px;}


/*弹窗开始*/
.popup{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    display: none;
}
.p-login{
    position: relative;
    width:400px;
    position: fixed;
    background-color: white;
    top: 35%;
    left: 37%;
    border: 1px solid rgba(200,200,200,.5);
    border-radius: 10px;
}
.del{
    position:absolute ;
    width: 30px;
    height: 30px;
    right:0;
    top:0;
    text-align: center;
    font-size: 30px;
    color: #b6b6b6;
    cursor: pointer;
}
.lg-cont{
    margin: 0 auto;
    width:260px;
    height: 200px;
    margin-top: 25px;
}
.lhd{
    width: 100%;
    height: 40px;
}
.lhd ul{
    margin-left: 27%;
}
.lhd ul li{
    float: left;
    line-height: 40px;
    text-align: center;
    width: 60px;
}
.lhdfoot {
    clear: both;
    background: #d0d0d0;
    height: 1px;
    position: relative;
}
.lhdbottom {
    background:#F54F4F;
    height: 1px;
    width:60px;
    position: absolute;
    top: 0;
    left: 70px;
    overflow: hidden;
    transition: all 1s;
}
.lhd li.active{
    color:#F54F4F;
}
.lbd{
    width:100%;
    height: 160px;
}
.lbd1{
    display:none;
}
.memberLoginDialogItem .memberAcctInput {
    background: url(../images/public/icon_user.jpg) 0 no-repeat;
    font: 12px "微软雅黑";
    height: 30px;
    width: 84%;
    line-height: 30px;
    border: 1px solid #E9E9E9;
    outline-color: #DEDEDE;
    padding-left: 25px;
    margin: 0 auto;
    margin-left: 8px;
    margin-top: 20px;
    -webkit-border-radius: 2px;
}
.memberLoginDialogItem .memberPwdInput {
    background: url(../images/public/icon_pwd.jpg) 0 no-repeat;
    width: 84%;
    font: 12px "微软雅黑";
    height: 30px;
    line-height: 30px;
    border: 1px solid #E9E9E9;
    outline-color: #DEDEDE;
    padding-left: 25px;
    margin: 0 auto;
    margin-left: 8px;
    margin-top: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.formBox input {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.loginButton {
    width: 94%;
    height: 38px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    margin-left: 8px;
    margin-top: 18px;
    background-color: #F54F4F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

}
.bott{
    float: left;
    height: 30px;
    width: 100%;
}
.middle {
    width: 91%;
    _width: 91.5%;
    font: 14px "微软雅黑";
    height: 40px;
    line-height: 40px;
    float: left;
    color: white;
}