#header{
    background:#F1F1F1;
    height: 30px;
    width: 100%;
    overflow: hidden;
}
#header .header-left{
    float: left;
    margin: 0 0 0 70px;
    font-size: 13px;
    color: #666;
    line-height: 30px;
    width: 110px;
    padding-left: 10px;
}
#header .header-left li{
    float: left;
}
#header .header-left .icon{
    font: 400 15px/15px consolas;
    height: 7px;
    overflow: hidden;
    position: relative;
    top: 12px;
    left: 10px;
    -webkit-transition: -webkit-transform .1s ease-in 0s;
    color: #6a6a6a;
    -moz-transition: -moz-transform .1s ease-in 0s;
}
#header .header-left:hover .icon{
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}
#header .header-left:hover{
    background-color: white;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
#header .header-right{
    float:right;
    margin-bottom: 0;
    font-size: 13px;
    color: #666;
    line-height: 30px;
    margin-right: 70px;
}
#header .header-right li{
    float: left;
    padding:0 10px;
    position: relative;
}
#header .header-right .separator{
    width:1px;
    height:12px;
    margin-top:9px;
    background:#ddd;
    padding:0;
}
#header .header-right .login .red{
    color: red;
}
#header .header-right .website-navigation{
    width: 97px;
    font-size: 13px;
    color: #999;
}
#header .header-right .website-navigation .icon2{
    display: inline-block;
    font: 400 15px/15px consolas;
    height: 7px;
    overflow: hidden;
    margin:12px 0 0 10px;
    -webkit-transition: -webkit-transform .1s ease-in 0s;
    -moz-transition: -moz-transform .1s ease-in 0s;
}
#header .header-right .website-navigation:hover .icon2{
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}
#header .header-right .website-navigation:hover{
    background-color: white;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.clear{
    clear: both;
}

/*顶部导航*/
.headr{
    width: 100%;
    height: 107px;
}
.heard-con{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 107px;

}
.headr-nav{
    float: left;
    position: absolute;
    width: 710px;
    height: 107px;
    left: 18%;

}
.headr-nav li{
    float: left;
    width: 90px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 20px;
    font-size: 16px;
    margin-top: 25px;
}
.headr-nav li a{
    color: #222222;
}
.sptopfoot {
    clear: both;
    background:#ffffff;
    height: 2px;
    position: relative;
}
.spbottom {
    background:#4AB344;
    height: 2px;
    width:90px;
    position: absolute;
    top: 0;
    left: 20px;
    overflow: hidden;
    transition: all 1s;
}
.headr-right{
    position: relative;
    float: right;
    width: 154px;
    height:42px;
    margin-top: 30px;
    text-align: center;
    line-height: 42px;
    overflow: hidden;
    border: 1px solid #E6E6E6;

}
.hr-car{
    position: absolute;
    width: 300px;
    /*height: 140px;*/
    right:-1px;
    /*line-height: 140px;*/
    background-color: white;
    color: #c6c6c6;
    border: 1px solid #E6E6E6;
}
/*顶部导航结束*/

.login-box{
    width: 382px;
    height: 430px;
    margin: 0 auto;
    background: url(../images/public/login_bg.png) no-repeat;
}
.login-box .login-form{
    padding-top: 40px;
}
.login-box .login-title{
    width: 308px;
    height: 50px;
    line-height: 50px;
    margin-left: 40px;
}
.login-box .login-title strong{
    font-weight: bold;
    font-size: 21px;
    color: #159354;
    font-family: Microsoft YaHei;
    float: left;
}
.login-box .login-title span{
    float: right;
    color: grey;
}
.login-box .login-title span a{
    color: #159354;
}
.login-box .login-title span a:hover{
    text-decoration: underline;
}
.login-box .login-name,.login-box .login-pwd{
    width: 308px;
    height: 65px;
    margin-left: 40px;
}
.login-box .login-name .l-input{
    width: 309px!important;
    height: 36px!important;
    background: url(../images/public/login_btn_account.jpg) no-repeat;
    border: 1px solid #ccc;
    margin-top:8px;
}
.login-box .login-pwd .l-input{
    width: 309px!important;
    height: 36px!important;
    background: url(../images/public/login_btn_code.jpg) no-repeat;
    border: 1px solid #ccc;
}
.login-box .login-name .l-input input,.login-box .login-pwd .l-input input{
    border: none;
    height: 24px;
    margin-top: 6px;
    margin-left: 35px;
    width: 260px;
    color: grey;
    outline: none;
}
.login-box .login-name .error-box,.login-box .login-pwd .error-box{
    width: 308px;
    height: 26px;
    margin-top: 3px;
}
.login-box .login-name .l-error{
    line-height: 166.6%;
    color: #000;
    font-family: Verdana, arial, sans-serif;
    text-align: left;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/public/icos.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-position: -386px -61px;
    margin-right: 8px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    position: static !important;
}
.login-box .login-pwd .l-error2{
    line-height: 166.6%;
    color: #000;
    font-family: Verdana, arial, sans-serif;
    text-align: left;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/public/icos.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-position: -386px -61px;
    margin-right: 8px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    position: static !important;
}
.login-box .login-check{
    width: 308px;
    height: 25px;
    margin-left: 40px;
}
.login-box .login-check a{
    float: right;
}
.login-box .login-check a:hover{
    text-decoration: underline;
}
.login-box .login-btn{
    margin-left: 40px;
    margin-top: 10px;
}

.login-msg{
    width:308px;
    height: 22px;
    margin-left: 60px;
    color: red;
}